<h1>Welcome, <%= @user.username %></h1>

<h2>All the Teams you current Own</h2><br>
<% @user.teams.each do |team| %>
<label>Team Name:</label>
<%= team.name %><br>
<label>Stadium Name:</label>
<%= team.stadium %><br>
<label>Team Sponsor<?label>
<%= team.sponsor %>
<br></br>
<a href= "/teams/edit">Edit Team</a>
<% end %>
<br></br>
  <a href="/users/<%= @user.slug %>/edit">Click below to Edit User Info</a>
  <br></br>
  <a href="/teams/new">Click to add a new team to your profile</a>
  <br></br>
  <a href="/logout">Click to Log Out</a>
