<h1>Welcome, <%= current_user.username %></h1>
<h2> View All Teams below </h2>
<% @teams.each do |team| %>
  <label>Team Name:</label>
  <a href="/teams/<%= team.id %>">
  <%= team.name %></a><br>
  <label>Team Stadium:</label>
  <%= team.stadium %><br>
  <label>Team Sponsor:</label>
  <%= team.sponsor %><br>
<br></br>
<% end %>
